<h3>Mitt kortspel 21</h3>

<p>Det är 1 spelare som spelar mot banken och spelaren väljer 1 kort i taget.
Beroende på spelarens poäng kommer ett meddelande om "vinst", "förlust" eller
"Nytt kort?"</p>
<p></p>
