<h3>Mitt kortspel 21</h3>

<p>Det är 1 till 4 spelare som spelar mot banken och spelaren väljer 1 till 3 kort i taget.
Du väljer antal spelare och antal kort att satsa och klickar i "Setup", annars blir det
defaultvärdena som är 1 spelare och 1 kort. Spelarna kan inte
heller satsa pengar utan spelar bara för att det är roligt.</p>

<p>För att spela en omgång, så klickar du på "Spela".</p>

<p>För att återställa och spela igen, så klickar du på "Återställ".</p>

<p>Varje spelare och banken har 2 poängsummor, en för ess räknat som 1 och 1 för ess
räknat som 14. Beroende på spelarens poäng kommer ett meddelande om "vinst" dvs spelaren
har fått 21, "förlust" dvs spelaren har fått poäng över 21 eller "Nytt kort?". Det finns
en knapp "Nöjd" att trycka på om spelaren är nöjd och inte vill ha fler kort.</p>

<p>Banken är nöjd när den når 18 poäng och då drar den inte fler kort. Bankens sista kort
är vänt så att spelarna inte ser vilket kort det är.</p>

<p>När alla är nöjda och klara, så vänder banken upp sitt sista kort och sen visas resultatet.
Om banken och en spelare har samma summa, till exempel 20, så vinner banken. Om 2 spelare har
samma summa, så vinner den med högsta kortet.</p>
