<h3>Mitt kortspel 21</h3>

<p>Det är 1 till 4 spelare som spelar mot banken och spelaren väljer 1 till 3 kort i taget.
Banken är nöjd när den når 18 poäng och då drar den inte fler kort. Spelarna kan inte
heller satsa utan spelar bara för att det är roligt.</p>
<p>Varje spelare och banken har 2 poängsummor, en för ess räknat som 1 och 1 för ess räknat som 14. Beroende på spelarens poäng kommer ett meddelande om "vinst" dvs spelaren har fått 21, "förlust" dvs spelaren har fått poäng över 21 eller "Nytt kort?"</p>
