<h3>UML-diagram</h3>

<div class="col-md-5">
    <figure class="umlFigure">
        <img src="{{ absolute_url(asset('images/game21.png')) }}" alt="UML-Kortspel 21" class="figure-img img-fluid" style="width: 80%;">
        <figcaption class="figure-caption text-end col-md-offset-4" style="font-style: italic;">UML- Kortspel 21</figcaption>
    </figure>
</div>
