/* Styling file for garden project */
/* Common */
* {
  margin: 0;
}

body {
    background-color: #98cf9c;
    padding-top: 4em;
    padding-bottom: 2em;
}

.myNavbar {
    background-color: #61b667;
    font-size: large;
    padding-bottom: 1em;
}

.myNavbar a {
    color: black;
}

.nav li a:hover {
    background-color: #98cf9c;
}

h1 {
    text-align: center;
}

/* Tables */
table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #121389;
    color: #fff;
    text-align: left;
    font-size: 24px;
}

table th,
td {
    padding: 12px 15px;
}

th {
    background-color: #61b667;
}

table tbody tr {
    border-bottom: 1px solid #61b667;
}

table tbody tr:nth-of-type(even) {
    background-color: #c2ddcc;
}

/* Back arrow and buttons */
.backArrow {
    font-size: xxx-large;
}

.backArrow a {
    color: black;
}

.myButton {
    padding: 0.5em;
    margin: 0.5em;
    font-size: large;
    border: 1px outset #61b667;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #61b667, #98cf9c, #61b667);
    text-align: center;
}

.myButton {
    min-width: 10em;
}

.myButton a {
    color: black;
}

/* Images */
.indexImage img {
    float: left;
    width: 50%;
    border-radius: 5%;
    padding-right: 1em;
}

/* Footer */
.site-footer {
    background-color: #61b667;
    clear: both;
}

.site-footer p {
    font-style: italic;
    margin-top: 0;
}
