{% extends "base.html.twig" %}

{% block title %}Quote{% endblock %}

{% block content %}
    <h1>Dagens citat</h1>
    <div class="my-quote">Citat här....</div>

    <h1>Dagens datum</h1>
    <div class="my-date">
        <span class="day">31</span> 
        <span class="month">July</span> 
        <span class="year">2009</span>
    </div>
{% endblock %}
