* {
  margin: 0;
}

body {
    background-color: #e4eef7;
    padding-top: 4em;
    padding-bottom: 2em;
}

navbar {
    padding-bottom: 2em;
}

.jumbotron {
    background-color: #88b5dd; /* #3172ab; */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.h3Left {
    text-align: left;
}

.divider {
    margin-top: 4em;
    border-top: 2px groove #88b5dd;
}

.my-footer {
    /* background-color: #88b5dd; */
    background-image: linear-gradient(to bottom, #b6d2ea, #88b5dd, #3172ab);
    margin-bottom: 2em;
    font-size: large;
}

.symfony-logo {
    text-align: center;
}

.myButton {
    padding: 0.5em;
    margin: 0.5em;
    font-size: large;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #b6d2ea, #88b5dd, #3172ab);
}

.home21 {
    font-size: xxx-large;
}

/*  Card design */
.card {
    border:1px solid #ccc;
    border-radius: 2px;
    background: #fff;
    color:#444;
    width: 175px;
    height:259px;
    margin: 10px;
    display: inline-block;
    border-radius: 4px;
}

.flipped {
    background-image: linear-gradient(to bottom, #3172ab, #88b5dd, #3172ab);
}

.red {
    color: red;
}

.top {
    font-size:24px;
    padding: 10px 10px 0 10px;
}

.bottom {
    font-size:24px;
    padding: 0 10px 10px 10px;
    float: right;
}

.number, .icon {
    display: block;
}

.rotate {
    transform: rotate(180deg);
     -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

.lg_icon {
    font-size: 70px;
    text-align: center;
    display: block;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
