* {
  margin: 0;
}

body {
    background-color: #e4eef7;
    padding-top: 4em;
    padding-bottom: 2em;
}

navbar {
    padding-bottom: 2em;
}

.jumbotron {
    background-color: #88b5dd; /* #3172ab; */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.h3Left {
    text-align: left;
}

.divider {
    margin-top: 4em;
    margin-bottom: 2em;
    border-top: 2px groove #88b5dd;
}

.center {
    /* text-align: center; */
    display: grid;
}

.my-footer {
    /* background-color: #88b5dd; */
    background-image: linear-gradient(to bottom, #b6d2ea, #88b5dd, #3172ab);
    margin-bottom: 2em;
    font-size: large;
}

.symfony-logo {
    text-align: center;
}

.myButton, .submitButton {
    padding: 0.5em;
    margin: 0.5em;
    font-size: large;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #b6d2ea, #88b5dd, #3172ab);
    text-align: center;
}

.startButton {
    padding: 0.5em;
    margin: 0.5em;
    margin-bottom: 10em;
    font-size: x-large;
    border-radius: 10px;
    border: 2px groove #3172ab;
    background-image: linear-gradient(to bottom, #b6d2ea, #88b5dd, #3172ab);
    text-align: center;
}

.submitButton {
    min-width: 10em;
    float: right;
}

.contentButton {
    margin-left: -5em;
}

.numberInput {
    font-size: larger;
}

.home21 {
    font-size: xxx-large;
}

/*  Card design */
.card {
    border:1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    color:#444;
    width: 175px;
    height:259px;
    margin: 10px;
    display: inline-block;
}

.cardDeal {
    border:1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    color:#444;
    width: 175px;
    height:259px;
    margin: 10px;
    display: inline-block;
    margin-left: -10em;
    z-index: 1;
    position:relative;
}

#dealDiv > div:nth-child(2) > div.col-md-6 > div:nth-child(2) {
    margin-left: -7em;
}

#dealDiv > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
    margin-left: -7em;
}

.flipped {
    background-image: radial-gradient(#3172ab, #88b5dd, navy, navy);
    vertical-align: bottom;
}

.red {
    color: red;
}

.top {
    font-size:24px;
    padding: 10px 10px 0 10px;
}

.bottom {
    font-size:24px;
    padding: 0 10px 10px 10px;
    float: right;
}

.number, .icon {
    display: block;
}

.rotate {
    transform: rotate(180deg);
     -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

.lg_icon {
    font-size: 70px;
    text-align: center;
    display: block;
}
