{# templates/me_report.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Dokumentation</h1>
    </div>
    <div class="row">
        <div class="col-md-1 home21">
            <a href="{{ path('card') }}">&#8617;</a>
        </div>
        <div class="col-md-10">
            {% set my_path = 'card/documentation/rules.html.twig' %}
            {% include my_path %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% set my_path = 'card/documentation/my21.html.twig' %}
            {% include my_path %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{ include('card/documentation/classes.markdown.twig')|markdown_to_html }}
        </div>
    </div>
    <div class="row" style="height: 10em;">
    </div>
</div>
{% endblock %}
