{# templates/me.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Cardgame{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Kortspel 21</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h3>Välkommen!</h3>
            <p>Du spelar mot datorn som också är bank. Lycka till!</p>
            <p>Välkommen att börja spela genom att klicka på knappen "Spela 21"
            till bredvid.</p>
            <p>Där kan du också läsa mer om de klassiska 21 spelreglerna och min
            dokumentation kring det här spelet.</p>
            {% set my_path = 'card/documentation/my21.html.twig' %}
            {% include my_path %}
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="startButton">
                    <a href="{{ path('gamePlay', {'players': "1", 'cards': "1"}) }}">Spela 21</a>
                </div>
            </div>
            <div class="row">
                <div class="myButton">
                    <a href="{{ path('documentation') }}">Dokumentation</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
