{# templates/book/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Bibliotek</h1>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h3>Välkommen till biblioteket!</h3>
            <p>Här kan du skapa böcker, visa detaljer om en bok och visa alla böcker.
            Du kan också uppdatera en viss bok eller ta bort en viss bok.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <div class="myButton">
                <a href="{{ path('create_book') }}">Skapa</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="myButton">
                <a href="{{ path('show_all_books') }}">Visa alla</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
