{# templates/book/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Bibliotek</h1>
    </div>
    <div class="row">
        <div class="col-md-1 home21">
            <a href="{{ path('show_all_books') }}">&#8617;</a>
        </div>
        {% if book %}
        <div class="col-md-8 col-md-offset-1">
            <form method="post">
                <fieldset>
                <legend>Uppdatera booken</legend>
                <p>
                    <label style="width: 100%">Titel:<br>
                    <input type="text" name="bookTitle" required  style="width: 100%"
                    value="{{ book.getTitel() }}"/>
                    </label>
                </p>

                <p>
                    <label  style="width: 100%">ISBN:<br>
                    <input type="text" name="bookISBN" required  style="width: 100%"
                    value="{{ book.getISBN() }}"/>
                    </label>
               </p>

                <p>
                    <label  style="width: 100%">Författare:<br>
                    <input type="text" name="bookAuthor" required  style="width: 100%"
                    value="{{ book.getAuthor() }}"/>
                    </label>
                </p>

                <p>
                    <input class="bookButton" type="submit" name="doUpdate" value="Uppdatera">
                </p>
                </fieldset>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
