{# templates/book/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Bibliotek</h1>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h3>Välkommen till biblioteket!</h3>
            <p>Här kan du skapa böcker, visa detaljer om en bok och visa alla böcker.
            Du kan också uppdatera en viss bok eller ta bort en viss bok.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <form method="post">
                <fieldset>
                <legend>Lägg till en ny book</legend>
                <p>
                    <label>Titel:<br>
                    <input type="text" name="bookTitle" value="<?= $movie->title ?>"/>
                    </label>
                </p>

                <p>
                    <label>ISBN:<br>
                    <input type="number" name="movieISBN" value="<?= $movie->year ?>"/>
                </p>

                <p>
                    <label>Image:<br>
                    <input type="text" name="movieAuthor" value="<?= $movie->image ?>"/>
                    </label>
                </p>

                <p>
                    <input type="submit" name="doSave" value="Save">
                    <div class="myButton">
                        <a href="{{ path('create_book') }}">Lägg till</a>
                    </div>
                    <input type="reset" value="Rensa">
                </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
