{# templates/garden/index.html.twig #}

{% extends 'garden/base.html.twig' %}

{% block title %}Om{% endblock %}

{% block content %}
<div class="col-md-1 backArrow">
    <a href="{{ path('app_garden') }}">&#8617;</a>
</div>
<div class="col-md-10 indexImage">
    {{ include('garden/content/about.markdown.twig')|markdown_to_html }}
</div>
{% endblock %}
