{# templates/garden/index.html.twig #}

{% extends 'garden/base.html.twig' %}

{% block title %}Tjänster{% endblock %}

{% block content %}
<div class="col-md-1 backArrow">
    <a href="{{ path('app_garden') }}">&#8617;</a>
</div>
<div class="col-md-10 indexImage">
    {{ include('garden/content/services.markdown.twig')|markdown_to_html }}
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <div class="myButton">
            <a href="{{ path('create_services_garden') }}">Lägg till en ny tjänst</a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="myButton">
            <a href="{{ path('show_all_services_garden') }}">Visa alla</a>
        </div>
    </div>
</div>
{% endblock %}
