{% extends "base.html.twig" %}

{% block title %}Dice{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Grafiska t채rningar</h1>
    </div>

    <div class="row">
        <div class="col-md-1 home21">
            <a href="{{ path('dice-home') }}">&#8617;</a>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h4>T채rningen 채r slagen {{ numRolls }} g책nger.</h4>

            <ul>
                {% for roll in rolls %}
                    <li class="large-dice">{{ roll }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
