{# templates/me.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Kmom01{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>kmom01</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="myButton">
                <a href="{{ path('lucky') }}">Lycky number</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="myButton">
                <a href="{{ path('quote') }}">Dagens citat</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
