{# templates/me.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Me{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>MVC</h1>
    </div>
</div>
{% endblock %}
