{# templates/me.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Me{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Me - Marie</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h3>Bakgrund</h3>
            <p>Mitt namn är Marie Grahn. Född och uppvuxen i Karlskrona. Mina största
            intressen var friidrott och tvärflöjt. Mina favoritgrenar var korta häcken
            och längdhopp. Jag spelade även tvärflöjt i Ankarspelet, en marschorkester.
            Efter 4-årig teknisk linje med inriktning på telekommunikation på gymnasiet,
            så pluggade jag till civilingenjör inom Datateknik på LTH i Lund. Jag träffade
            min man på LTH.
            </p>

            <h3>Arbetsliv</h3>
            <p>Jag har jobbat som systemansvarig på Astra Draco i Lund och C++ utvecklare på Telia Research i Malmö innan jag flyttade till Karlskrona och började jobba på Ericsson. Där jobbade jag med testning, projektledning och Javautveckling till sommaren 2018. Då bestämde jag mig för att lära mig nya saker och det bästa sättet var att börja studera igen. På distans har jag pluggat Maskininlärning, Säkerhetskritisk mjukvara, Certifiering av säkerhetskritisk mjukvara och Dataplansprogrammering (P4). Jag har precis pluggat webbprogrammering på BTH, kurspaketen Webbprogrammering och Databaser, 30hp (webprog) och Webbutveckling och Programmering, 30hp (webutv). Nu jobbar jag som lärare på BTH inom webbprogrammering!
            </p>

            <h3>Nu</h3>
            <p>Jag jobbar som lärare i webbprogrammering på BTH. Jag bor i Karlskrona tillsammans med min man. Barnen, en son på 25 år och en dotter på 22 år, är utflyttade och pluggar i Linköping. Jag gillar att dricka ett gott glas vin och gärna ta en bit mörk choklad till.
            Jag gillar att träna, helst friidrott.
            </p>
        </div>
        <div class="col-md-5">
            <figure class="figure">
                <img src="{{ absolute_url(asset('images/me.jpg')) }}" alt="Bild på Marie" class="figure-img img-fluid img-circle" style="width: 80%;">
                <figcaption class="figure-caption text-end col-md-offset-4" style="font-style: italic;">Marie, 2019</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}
