{# templates/me_about2.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Om - mvc</h1>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p>Symfony är ett ramverk för språket PHP i öppen källkod. Symfony skapades ursprungligen 
                av Sensiolabs under namnet Sensio Framework och släpptes under öppen källkod 2005. 
                Med Symfony följer ytterligare verktyg för att bistå utvecklare när det gäller testning, 
                dokumentering och felsökning.
                <a href="https://symfony.com/">Information om Symfony</a>
            </p>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <p>Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
            För att se mer:
            <a href="https://github.com/dbwebb-se/mvc">Github mvc</a>
            </p>

            <p>Från och med våren 2022 använder vi ramverket Symfony. Symfony är ett ramverk för språket PHP i öppen källkod. Symfony skapades ursprungligen av Sensiolabs under namnet Sensio Framework och släpptes under öppen källkod 2005. Med Symfony följer ytterligare verktyg för att bistå utvecklare när det gäller testning, dokumentering och felsökning.
            </p>

            <p>Vi använder PHP 8.1 och Composer. Composer är en pakethanterare på applikationsnivå för PHP-programmeringsspråket som ger ett standardformat för hantering av beroenden mellan PHP-programvara och nödvändiga bibliotek.
            Vi använder Make och Git.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <figure class="figure symfony-logo">
                <img src="{{ absolute_url(asset('images/symfony.png')) }}" alt="Logo Symfony" class="figure-img img-fluid img-rounded">
            </figure>
        </div>
    </div>
</div>
{% endblock %}
