{# templates/me_report.html.twig #}

{% include 'header.html.twig' %}

<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Redovisningstexter</h1>
    </div>
    <div class="row">
        {% if kmom is not defined %}
            {% set kmom = "0" %}
        {% endif %}
        {% if app.request is defined %}
            <p> {{app.request}} </p>
            <br><br>
            <p> {{app.request.getSchemeAndHttpHost()}} </p>
        {% endif %}
        <div class="col-md-2 col-md-offset-1">
            <div class="list-group">
                <a {% if kmom == "kmom01" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom01">kmom01</a>
                <a {% if kmom == "kmom02" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom02" class="list-group-item">kmom02</a>
                <a {% if kmom == "kmom03" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom03" class="list-group-item">kmom03</a>
                <a {% if kmom == "kmom04" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom04" class="list-group-item">kmom04</a>
                <a {% if kmom == "kmom05" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom05" class="list-group-item">kmom05</a>
                <a {% if kmom == "kmom06" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom06" class="list-group-item">kmom06</a>
                <a {% if kmom == "kmom10" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="/me/report2/kmom10" class="list-group-item">kmom10</a>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
            {% if kmom == "0" %}
                <p>Välj ett kmom till vänster för att läsa dess text.</p>
            {% else %}
                {% set my_path = 'reports/' ~ kmom ~ ".html" %}
                {% include my_path %}
            {% endif %}
        </div>
    </div>
</div>

{% include 'footer.html.twig' %}
