{# templates/me_report.html.twig #}

{% include 'header.html.twig' %}

<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Redovisningstexter</h1>
    </div>
    <div class="row">
    </div>
</div>    

{% include 'footer.html.twig' %}
